<div>
    <div>       
        <partial name="_RectangleAllColor" />

        <br /> <br />
        <div class="col-12 text-center">
            <div class="btn btn-primary buttonanimayion1 m-3" role="group">
                <a asp-controller="RectangleFind1" asp-action="IndexGetColorPink" class="btn btn-primary mx-8"> Find Pink Rectangles &nbsp;</a>
            </div>
            <div class="btn btn-primary buttonanimayion1 m-3" role="group">
                <a asp-controller="RectangleFind1" asp-action="IndexGetColorPurpleTurquoise" class="btn btn-primary mx-8"> Finding Turquoise and Purple Rectangles &nbsp;</a>
            </div>   
            <div class="btn btn-primary buttonanimayion1 m-3" role="group">
                <a asp-controller="Main" asp-action="Index" class="btn btn-primary mx-8"><i class="fa-duotone fa-house"></i> Change of coordinates  &nbsp;</a>
            </div>
        </div>

    </div>
</div>
